html,
body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.Box {
  overflow: hidden !important;
  width: 100% !important;
  max-width: 512px !important;
  margin: 15px;
}

* {
  box-sizing: border-box;
}
